# To activate this run
#
# pip install -r requirements.txt
# python -m django --version
#
# On a Macintosh this should be python3 and pip3
#
Django
django-crispy-forms
django-filter
djangorestframework
Markdown
social-auth-app-django
social-auth-core
django-extensions
django-taggit

django[argon2]


# If you want to use MySQL, and are not running on PythonAnywhere,
# uncomment the following line you might need to install pre-requisite
# libraries before mysqlclient will work - instructions are at
#   https://pypi.org/project/mysqlclient/

# mysqlclient

# to use cache
#$ sudo apt install memcached