{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
    <h2>Blog Posts</h2>
    {% for post in posts %}
        {% row "border-bottom" %}
            <div class="col">
                <h3>{{ post.title }}</h3>
                {% include "blog/post-byline.html" %}
                <p>{{ post.summary }}</p>
                <p>
                    ({{ post.content|wordcount }} words)
                    <a href="{% url "blog-post-detail" post.slug %}">Read More</a>
                </p>
            </div>
        {% endrow %}
    {% endfor %}
{% endblock %}