{% extends "base.html" %}
{% load blog_extras %}
{% load blog_extras cache %}
{% block content %}
<h2>{{ post.title }}</h2>
{% row %}
    <div class="col">
        {% include "blog/post-byline.html" %}
    </div>
{% endrow %}
{% row %}
    <div class="col">
        {{ post.content|safe }}
    </div>
{% endrow %}
<!-- {% if post.hero_image %}
    {% row %}
        {% col %}
            <img class="img-fluid" src="{{ post.hero_image.url }}">
        {% endcol %}
    {% endrow %}
{% endif %} -->
{% if post.hero_image %}
    {% row %}
        {% col %}
            <img class="img-fluid" src="{{ post.hero_image.url }}">
        {% endcol %}
    {% endrow %}
{% endif %}
<br>
<h2>all Comments</h2>
    <div>
        {% comments_for_thing post %}
    </div>
<br>    

{% include "blog/post-comments.html" %}
<br>
{% if post.author.profile %}
    {% row %}
        {% col %}
            <h4>About the author</h4>
            <p>{{ post.author.profile.bio }}</p>
        {% endcol %}
    {% endrow %}
{% endif %}
<!-- existing code here -->
{% row %}
    {% col %}
        {% cache 3600 recent_posts post %}
           {% recent_posts post %}
        {% endcache %}
    {% endcol %}
{% endrow %}
{% endblock %}