{% extends "base.html" %}
{% load blog_extras %}
{% load blog_extras cache %}
{% block content %}
<h2>{{ post.title }}</h2>
{% row %}
    <div class="col">
        {% include "blog/post-byline.html" %}
    </div>
{% endrow %}
{% row %}
    <div class="col">
        {{ post.content|safe }}
    </div>
{% endrow %}
<br>
<h2>Comments</h2>
    <div>
        {% comments_for_thing post %}
    </div>
<br>    

{% include "blog/post-comments.html" %}
<br>
<!-- existing code here -->
{% row %}
    {% col %}
        {% cache 3600 recent_posts post %}
           {% recent_posts post %}
        {% endcache %}
    {% endcol %}
{% endrow %}
{% endblock %}